
<%- include('./partials/header.ejs') %>

  <div class="starter-template">
    <h1>PROJETO TABUADA</h1>
    <p class="lead">GERE A TABUADA DE NÚMERO DE 1 A 100.</p>
  </div>


  <%- include('./partials/footer.ejs') %>